.wrapper {
  display: inline-block;
  width: 80%;
  background-color: #51371C;
}

#main-content {
  width: 90%
  align: center;
  margin-top: 2%;
}

#sales-title {
  text-align: center;
  font-size: 54px;
  color: green;
}

table {
  background-color: #67704B;
  border: solid white 1px;
  font-size: 24px;
  display: block;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

thead {
  align-content: center;
  display: table-header-group;
  vertical-align: middle;
}

tr td {
  align-content: center;
  border: solid white 1px;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
}

th, td {
  align-content: center;
  vertical-align: middle;
  padding: 20px 10px;
}

label, input {
  font-size: 18pt;
  color: white;
  display: block;
}

fieldset input {
  color: black;
  font-size: 16pt;
}

#new-store-form {
  width: 50%;
  margin: auto;
}

body {
  background-color: #51371C;
  border: solid 1px;
}

header {
  align: center;
  background-image: url("https://github.com/codefellows/seattle-201d19/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true");
  background-position: center;
  background-color: #51371C;
  width: 787px;
  height: 219px;
  margin: auto;
  padding: 0px;
}

#salmon {
  font-family: Barrio;
  font-size: 72pt;
  text-align: left;
  padding: 0;
  margin: 0;
  color: blue;
}

#cookies {
  font-family: Barrio;
  font-size: 76pt;
  text-align: right;
  padding: 0;
  margin: 0;
  color: green;
}

article {
  background-color: orange;
  padding: 0px;
}

.info {
  display: inline-block;
  float: none;
}

.info p {
  font-size: 24px;
  background-color: red;
  display: inline-block;
  text-align: center;
  width: 47%;
  margin: 0;
  padding: 0;
}

.images {
  display: inline-block;
  padding; 0px;
  margin: 0px;

}

nav li {
  display: inline;
  margin-right: 20px;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav {
  background-color: silver;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

section {
  background-color: blue;
  height: auto;
}

aside {
  background-color: green;
}

.locations {
  background-color: teal;
}

footer {
  background-color: green;
  clear: both;
}

footer ul li{
  list-style: none;
  display: inline-block;
  margin-left: 2%;
}

#floatLeft {
  float: left;
  width: 74%;
}

#floatRight {
  float: right;
  width: 25%;
}
