body {
  align: center;
  padding: 0px;
  background-color: #51371C;
}

.wrapper {
  display: inline-block;
  width: auto;
  align: center;
}

#main-content {
  width: 90%
  align: center;
  margin-top: 2%;
}

header {
  align: center;
  background-image: url("https://github.com/codefellows/seattle-201d19/blob/master/class-06-dom-objects-domain_modeling/assets/salmon.png?raw=true");
  background-position: center;
  width: 787px;
  height: 219px;
  margin: auto;
  padding: 0px;
}

nav {
  font-size: 16pt;
  align: center;
  height: 30px;
  margin: auto;
}

a {
  color: red;
}

nav ul {
  margin: 0px;
  padding: 5px 0px 5px 30px;
}

nav li {
  display: inline-block;
  list-style: none;
  color: red;
  margin-right: 40px;
  border-left: solid blue 2px;
}

#salmon {
  font-family: Barrio;
  font-size: 72pt;
  text-align: left;
  padding: 0px 20px 0px 0px;
  margin: 0px;
  color: blue;
}

#cookies {
  font-family: Barrio;
  font-size: 76pt;
  text-align: right;
  padding: 0px;
  margin: 0px;
  color: green;
}

#title {
  font-size: 36pt;
  text-align: center;
  margin-top: 5%;
}

#home-content {
  display: inline-block;
  margin-top: 5%;
  margin-right: 2%;
  padding-right: 2%
  font-family: Georgia, serif;
  background-color: #67704B;
  width: 72%;
}

#mission {
  display: inline-block;
  margin-right: 2%;
  padding-right: 2%
  font-family: Georgia, serif;
  background-color: #67704B;
  width: 72%;
}

#events {
  display: inline-block;
  margin-right: 2%;
  padding-right: 2%
  font-family: Georgia, serif;
  background-color: #67704B;
  width: 72%;
}

article {
  display: inline-block;
  width: auto;
}

aside {
  background-color: #63A46C;
  border: solid purple 2px;
  display: block;
}

.locations {
  float: right;
  width: 25%;
}

.locations article {
  border: solid purple 1.5px;
  background-color: #63A46C;
  display: block;
  width: auto;
}

.list-item {
  font-family: Helvetica, sans-serif;
}

footer {
  clear: both;
  background-color: blue;
}

.footer-nav {
  display: inline-block;
  list-style: none;
  text-align: left;
  margin: 0 20px 0 0;
}

table {
  background-color: #67704B;
  border: solid white 1px;
  font-size: 24px;
  display: block;
  width: 100%;
  overflow: auto;
  word-wrap: break-word;
}

thead {
  align-content: center;
  display: table-header-group;
  vertical-align: middle;
}

tr td {
  align-content: center;
  border: solid white 1px;
  vertical-align: middle;
  font-family: Helvetica, sans-serif;
}

th, td {
  align-content: center;
  vertical-align: middle;
  padding: 20px 10px;
}

label, input {
  font-size: 18pt;
  color: white;
  display: block;
}

fieldset input {
  color: black;
  font-size: 16pt;
}

#new-store-form {
  width: 50%;
  margin: auto;
}
